{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{g.user.avatar_img}}" class="card-img-top" alt="users avatar image">
                <div class="card-body">
                    <h5 class="card-title">{{g.user.username}}</h5>
                    <p class="card-text">{{g.user.bio}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            {% if fridge %}
            <h2>Start discovering dishes.</h2>
            <form action="/fridge/{{fridge.id}}/search" method="GET">
                <button class="btn btn-success" action="submit">Seach by fridge.</button>
            </form>
            <form action="/fridge/{{fridge.id}}/search" method="GET">
                <button class="btn btn-success" action="submit">Seach via custom.</button>
            </form>
        </div>
        <div class="col">
            <div style="width: 18rem;">
                <h5>Currently in fridge:</h5>
                <form action="/fridge/{{fridge.id}}/ingredient/search" method="POST">
                    <button class="btn btn-primary" action="submit">Add to fridge.</button>
                </form>
                <ul class="list-group list-group-flush">
                    {% for ing in ingredients %}
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        data-id="{{ing['id']}}">{{
                        ing['name'] }}<button type="button" class="delete-ing btn btn-danger btn-sm">x</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <div class="col">
            <h1>Create your fridge to start searching for ingredients.</h1>
            <form action="/fridge/create" method="POST">
                <button class="btn btn-primary" action="submit">Create Fridge!</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>



{% endblock %}