{% extends 'base.html' %}
{% block content %}
<div>
    <div class="card" style="width: 18rem;">
        <img src="{{g.user.avatar_img}}" class="card-img-top" alt="users avatar image">
        <div class="card-body">
            <p class="card-text">{{g.user.bio}}</p>
        </div>
    </div>
    {% if fridge %}
    <h1>Scrounging through {{g.user.username}}'s fridge..</h1>
    <h2>Start discovering dishes to make with what you already have!</h2>
    <form action="/fridge/{{fridge.id}}/add" method="POST">
        <button class="btn btn-primary" action="submit">Edit Fridge!</button>
    </form>
    <form action="/fridge/{{fridge.id}}/search" method="GET">
        <button class="btn btn-success" action="submit">Seach for recipes!</button>
    </form>
    {% else %}
    <h1>Create your fridge to start searching for ingredients.</h1>
    <form action="/fridge/create" method="POST">
        <button class="btn btn-primary" action="submit">Create Fridge!</button>
    </form>
    {% endif %}
</div>

{% if fridge %}
<div class="col-lg-6 col-md-8 col-sm-12">
    <ul class="list-group" id="fridge">
    </ul>
</div>
{% endif %}

{% endblock %}